<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <title>Analytics</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.3/nv.d3.min.css"/>
    <!-- Our CSS -->
    <link rel="stylesheet" href="css/analytics.css"/>
  </head>

  <body data-ng-app="analyticsApp">

      <!-- =============================== Nav Menu ==================================== -->
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="index.html">Show of Hands</a>

      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="bills.html">Bills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="people.html">People</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Analytics<span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- =============================== End Nav Menu ================================== -->

    <!-- =============================== Main Content ================================== -->
    <div class="container-fluid" data-ng-controller="analyticsCtrl"> <!-- set controller -->

      <!-- =============================== Tab Info ==================================== -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Voting %</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" data-toggle="tab" href="#senate" ng-click="getSenGraphs()">Senate</a>
            <a class="dropdown-item" data-toggle="tab" href="#house" ng-click="getHouseGraphs()">House of Reps</a>
          </div>
        </li>
      </ul>
      <!-- ================================ End Tab Info ============================== -->

      <!-- ================================= Tab Content ============================== -->
      <div class="tab-content">

        <!-- ============ Welcome Content ============ -->
        <div class="jumbotron" ng-show ="welcomeJumbo">
          <h1 class="display-3">Welcome to the Analytics Page!</h1>
          <p class="lead">We've collected and analyzed data on voting behavior in the Senate and the House of Representatives.</p>
          <p class="lead">To view, choose a legislative body!</p>
          <hr class="my-4">
        </div>
        <!-- ========== End Welcome Content ========== -->

        <!-- ========= Senate Voting Content ========= -->
        <div id="senate" class="tab-pane fade active">
          <h3>Voting Percentages: Senate</h3>
          <nvd3 options="demSenOptions" data="demSen"></nvd3>
          <nvd3 options="repSenOptions" data="repSen"></nvd3>
        </div>
        <!-- ======= End Senate Voting Content ======= -->

        <!-- ========= House Voting Content ========== -->
        <div id="house" class="tab-pane fade active">
          <h3>Voting Percentages: House</h3>
          <nvd3 options="partyOptions" data="party"></nvd3>
          <nvd3 options="missedOptions" data="missed"></nvd3>
        </div>
        <!-- ========= End House Voting Content ====== -->

      </div>
      <!-- ========================= End Tab Content =================================== -->

    </div>
    <!-- =============================== End Main Content ============================== -->


    <!-- =============================== Footer ======================================== -->
    <footer class="footer bg-faded">
      <div class="container">
        <div class="row">
          <div class="col-4 text-right">
            <img style="width:20px;height:20px;margin-top:25px;" src="./images/ShowofHandsLogo2.png" alt="logo">
          </div>
          <div class="col-4">
            <p class="text-muted text-center">Copyright &copy; 2017 - RPI Web Science Team 3</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- =============================== End Footer ==================================== -->

    <!-- ================================ Scripts ====================================== -->
    <!-- Angular -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <!--- USMap plugin -->
    <!-- <script src="js/usmap/jquery.twism.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.3/nv.d3.min.js"></script>
    <script src="https://rawgit.com/krispo/angular-nvd3/v1.0.7/dist/angular-nvd3.js"></script>
    <!-- Our js -->
    <script src="js/analytics.js"></script>
    <!-- =============================== End Scripts =================================== -->

  </body>

</html>
